.slider {
	background: #eef2f5 url(../img/slider.png) no-repeat center center;
  	background-size: cover;
	height: calc(100vh - 78px);
	width: 100%;
}

.navbar-toggler {
  	margin-top: 15px;
}

@media screen and (min-width: 992px) {
	.navbar {
		height: 78px;
	}
	.logo {
		width: 240px;
		height: 61px;
		position: relative;
	}
	.navbar-light .navbar-nav .nav-link {
		padding-right: 75px;
	}
	#nav-left {
		padding-left: 30px;
	}
}


