.slider {
	background: #eef2f5 url(../img/slider.png) no-repeat center center;
  	background-size: cover;
	height: calc(100vh - 78px);
	width: 100%;
}

.navbar-toggler {
  	margin-top: 15px;
}

@media screen and (min-width: 992px) {
	.navbar {
		height: 78px;
	}
	.logo {
		width: 240px;
		height: 61px;
		position: relative;
	}
	.navbar-light .navbar-nav .nav-link {
		padding-right: 75px;
	}
	#nav-left {
		padding-left: 30px;
	}
}


.slider-content {
	margin-top: 150px;

	h3 {
		font-size: 26.206px;
		font-family: "Play";
		color: rgb(255, 255, 255);
		line-height: 1;
		margin: 0;
		text-align: center;
		text-shadow: 1px 1.732px 0px rgba(0, 0, 0, 0.3);
	}
	h1 {
		font-size: 52px;
		font-family: "Play";
		text-transform: capitalize;
		color: rgb(255, 255, 255);
		line-height: 2;
		margin: 0;
		text-align: center;
		text-shadow: 1px 1.732px 0px rgba(0, 0, 0, 0.3);
	}
}

// Search
.flag-text { margin-left: 10px; }
.search-bar {
	display: flex;
	border: 3px solid rgb(235,235,235);

	.list-icon {
		border-right: 1px solid #dedede;
		background-color: #fff;

		.fa-list-ul {
			padding: 16px 20px;
			color: #9d9d9d;
			font-size: 22px;
		}
	}

	.form-control {
		border: 0;
		border-radius: 0;
		height: 55px;
	}

	button {
		width: 92px;
		border-radius: 0;
		background-color: #dadada;
		border-left: 1px solid #dedede;

		.fa-search {
			color: #afafaf;
			font-size: 22px;
		}
	}
}

.select2-container--default .select2-selection--single {
	border-radius: 0;
	height: 55px;
	border: 0;
	border-right: 1px solid #dedede;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 53px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 15px;
}