body {
	@include primary-font(14px);
	color: $body-color;
	hyphens: auto;
	word-wrap: break-word;
	background-color: $body-bg;
	overflow-x: hidden;
}

option:disabled {
    color: #fff;
  	font-size: 20px;
  	font-family: "Play";
}
select:first-of-type {
    color: #fff;
  	font-size: 16px;
  	font-family: "Play";
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(141, 141, 141);
  font-size: 16px;
  font-family: "Play";
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgb(141, 141, 141);
  font-size: 16px;
  font-family: "Play";
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgb(141, 141, 141);
  font-size: 16px;
  font-family: "Play";
}
:-moz-placeholder { /* Firefox 18- */
  color: rgb(141, 141, 141);
  font-size: 16px;
  font-family: "Play";
}

input[type="search"]::-webkit-input-placeholder {
    color: #fff;
}
input[type="search"]::-moz-placeholder {
    color: #fff;
}
input[type="search"]:-ms-input-placeholder {
    color: #fff;
}
input[type="search"]:-moz-placeholder {
    color: #fff;
}