.modal-header {
	border-bottom: 0;

	button {
		position: absolute;
    	right: 1%;
    	top: 0.5%;
	}
}
.modal-title {
	@include heading-font(52.317px);
	margin: 50px auto 30px auto;
	color: rgb(122, 128, 130);
    font-weight: bold;
    line-height: 0.9;
}
.modal-body {
	padding: 0;

	p {
		@include primary-font(22.671px);
		color: rgb(129, 146, 151);
  		line-height: 1.385;
  		text-align: center;
	}
}
.modal-dialog {
	max-width: 97%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
}

.modal-content {
	height: auto;
	min-height: 100%;
	border-radius: 0;

    .explore-item-modal {
		text-align: center;

		img {
			padding: 85px 0 28px 0;
		}

		h3 {
			@include primary-font(25px);
			color: rgb(142, 162, 168);
  			line-height: 1;
  			margin: 0;
		}
	}
}

#modal-slider {
	h1 {
		@include heading-font(47px);
		color: rgb(122, 128, 130);
		font-weight: bold;
		line-height: 1;
		text-align: center;
		background-color: #efefef;
		padding: 65px 0;
	}

	.slider-container {
	  display: block;
	  height: 270px;
	  width: auto;
	  margin: 0 auto;
	  position: relative;
	  max-width: 1300px;
	  margin-top:20px;
	  .arrow-left {
	    position: absolute;
	    left: 10%;
	    top: 50%;
	    transform: translate3d(0, -50%, 0);
	    color: white;
	    font-size: 28px;
	    cursor: pointer;
	    z-index: 9;
	    border-top: 15px solid transparent;
	    border-right: 30px solid #C85054;
	    border-bottom: 15px solid transparent;
	    @media (max-width: 768px) {
	      display: none;
	    }
	  }
	  .arrow-right {
	    position: absolute;
	    right: 10%;
	    top: 50%;
	    transform: translate3d(0, -50%, 0);
	    color: white;
	    font-size: 28px;
	    cursor: pointer;
	    z-index: 9;
	    border-top: 15px solid transparent;
	    border-left: 30px solid #C85054;
	    border-bottom: 15px solid transparent;
	    @media (max-width: 768px) {
	      display: none;
	    }
	  }
	  .dots {
	    display: inline-block;
	    width: 100%;
	    text-align: center;
	    margin: 30px 0;
	    user-select: none;
	    span {
	      display: inline-block;
	      width: 20px;
	      height: 20px;
	      margin-right: 2px;
	      cursor: pointer;
	      user-select: none;
	      padding: 10px 0;
	      position: relative;
	      &:before {
	        content: "";
	        position: absolute;
	        left: 50%;
	        top: 50%;
	        transform: translate3d(-50%, -50%, 0);
	        height: 10px;
	        width: 10px;
	        border-radius: 50%;
	        background-color: #ccc;
	        opacity: 0.6;
	      }
	      @media (max-width: 768px) {
	        width: 23px;
	        margin-bottom: 15px;
	      }
	      &.active {
	        &:before {
	          background-color: #C85054;
	          opacity: 1;
	        }
	      }
	    }
	  }
	  .slider {
	    display: block;
	    width:650px;
	    height: 100%;
	    margin: 0 auto;
	    position: relative;
	    text-align: center;
	    line-height: 270px;
	    color: white;
	    @media (max-width: 768px) {
	      height: 450px;
	    }
	    .slide {
	      display: inline-block;
	      width: 80%;
	      height: 270px;
	      position: absolute;
	      left: 50%;
	      top: 50%;
	      transform: translate3d(-50%, -50%, 0) scale3d(.4, .4, 1);
	      transition: transform 0.3s ease-in-out 0s, z-index .2s ease-in-out .1s;
	      background-color:#2C2A40;
	      &:nth-child(odd)
	      {
	         background-color:gray;
	      }
	      @media (max-width: 768px) {
	        width: 100%;
	        height: 450px;
	      }
	      &:nth-child(1) {
	        background-color: #505E63;
	      }
	      &:nth-child(2) {
	        background-color: #62698C;
	      }
	      &:nth-child(3) {
	        background-color: #2C2A40;
	      }
	      &:nth-child(4) {
	        background-color: #C85054;
	      }
	      &:nth-child(5) {
	        background-color: #F1BB70;
	      }
	      &.prev-2 {
	        transform: translate3d(-105%, -50%, 0) scale3d(.4, .4, 1);
	        z-index: 1;
	        opacity: 0.5;
	      }
	      &.prev-1 {
	        transform: translate3d(-85%, -50%, 0) scale3d(.6, .6, 1);
	        z-index: 2;
	      }
	      &.next-1 {
	        z-index: 2;
	        transform: translate3d(-15%, -50%, 0) scale3d(.6, .6, 1);
	      }
	      &.next-2 {
	        z-index: 1;
	        transform: translate3d(5%, -50%, 0) scale3d(.4, .4, 1);
	        opacity: 0.5;
	      }
	      &.active {
	        z-index: 3;
	        transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
	        box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.3);
	        -webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	      }
	    }
	  }
	}
}

#one-more-thing {
	h1 {
		@include heading-font(47px);
		color: rgb(122, 128, 130);
		font-weight: bold;
		line-height: 1;
		text-align: center;
		background-color: #efefef;
		padding: 65px 0;
	}
	.title {
		h1 {
			background-color: transparent;
		}
		span {
			@include primary-font (26px);
			text-align: center;
	    	display: block;
	    	color: #878d8f;
		}
	}
	
	.create-shop-bg {
		background: url(../img/create-shop.jpg) no-repeat center center;
	  	background-size: cover;
		height: 380px;
		width: 100%;
		margin: 50px 0;
	}
}