.modal-header {
	border-bottom: 0;

	button {
		position: absolute;
    	right: 1%;
    	top: 0.5%;
	}
}
.modal-title {
	@include heading-font(34.317px);
	margin: 50px auto 30px auto;
	color: rgb(122, 128, 130);
    font-weight: bold;
    line-height: 0.9;

    // Below 34em (544px)
    @include media("<sm") {
        font-size: 20px;
    }
}
.modal-body {
	padding: 0;

	p {
		@include primary-font(20.671px);
		color: rgb(129, 146, 151);
  		line-height: 1.385;
  		text-align: center;

        // Below 34em (544px)
        @include media("<sm") {
            font-size: 18px;
        }
	}
}
.modal-dialog {
	max-width: 97%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
}

.modal-content {
	height: auto;
	min-height: 100%;
	border-radius: 0;

    .explore-item-modal {
		text-align: center;

		img {
			padding: 85px 0 28px 0;
		}

		h3 {
			@include primary-font(18px);
			color: rgb(142, 162, 168);
  			line-height: 1;
  			margin: 0;
		}
	}
}

#nonBusinessModal .modal-footer {
    border-top: 0;
    margin: 80px 0;

    a {
        padding: 15px 25px;
        border: 2px solid #efefef;
        border-radius: 0;
        display: inline-block;
        background: linear-gradient(90deg, #ae90d6 10.7%, #b88dd5 13.9%, #bf8ad2 13.9%, #d087bc 15.9%, #d586b6 17.1%, #de83af 17.1%, #e381aa 20.3%, #e57fa4 20.3%, #eb809e 23.5%, #ec7e99 23.5%, #f27e91 26.2%, #f47f85 29%, #f8857e 32.2%, #f7927e 34.2%, #f6967e, #f6967e 35%, #f89a80 35%, #f8b088, #f5c78c, #f4d18d 42.2%, #f5d089 43.4%, #f2cf7d 45.8%, #f0d177 45.8%, #eed16b 48.6%, #f0d06b 49.8%, #eed883 54.9%, #f2d88b 56.1%, #f0d88e 56.9%, #ecd994 56.9%, #ddda97 58.1%, #ddda97 58.5%, #cfdd9f 58.5%, #88e3aa 60.9%, #62e5b1 62.5%, #54e1be 64.5%, #51e1be 65.3%, #56ccce 70.9%, #53c8d1 72.1%, #55bfd9 74.1%, #5aabea 77.6%, #5ba9eb 78.8%, #67a3eb 80.8%, #6ca2e8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        @include heading-font(40px);
        color: rgb(122, 128, 130);
        font-weight: bold;
        line-height: 0.9;
        text-transform: capitalize;
        margin: 0 auto;
        cursor: pointer;

        // Below 34em (544px)
        @include media("<sm") {
            padding: 15px 0;
            font-size: 32px;
        }
    }
}


#business-modal-slider {
    display: flow-root;
    
    h1 {
        @include heading-font(34px);
        color: rgb(122, 128, 130);
        font-weight: bold;
        line-height: 1;
        text-align: center;
        background-color: #efefef;
        padding: 65px 0;

        // Below 34em (544px)
        @include media("<sm") {
            font-size: 26px;
        }

        span {
            display: inline-block;
            background: linear-gradient(90deg, #ae90d6 10.7%, #b88dd5 13.9%, #bf8ad2 13.9%, #d087bc 15.9%, #d586b6 17.1%, #de83af 17.1%, #e381aa 20.3%, #e57fa4 20.3%, #eb809e 23.5%, #ec7e99 23.5%, #f27e91 26.2%, #f47f85 29%, #f8857e 32.2%, #f7927e 34.2%, #f6967e, #f6967e 35%, #f89a80 35%, #f8b088, #f5c78c, #f4d18d 42.2%, #f5d089 43.4%, #f2cf7d 45.8%, #f0d177 45.8%, #eed16b 48.6%, #f0d06b 49.8%, #eed883 54.9%, #f2d88b 56.1%, #f0d88e 56.9%, #ecd994 56.9%, #ddda97 58.1%, #ddda97 58.5%, #cfdd9f 58.5%, #88e3aa 60.9%, #62e5b1 62.5%, #54e1be 64.5%, #51e1be 65.3%, #56ccce 70.9%, #53c8d1 72.1%, #55bfd9 74.1%, #5aabea 77.6%, #5ba9eb 78.8%, #67a3eb 80.8%, #6ca2e8);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
            @include heading-font(52px);
            color: rgb(122, 128, 130);
            font-weight: bold;
            line-height: 0.9;
            text-transform: capitalize;
            margin: 0;
            cursor: pointer;

            // Below 34em (544px)
            @include media("<sm") {
                font-size: 30px;
            }

            img {
                max-height: 34px;
            }
        }
    }
    
}

#non-business-modal-slider {

	h1 {
		@include heading-font(34px);
		color: rgb(122, 128, 130);
		font-weight: bold;
		line-height: 1;
		text-align: center;
		background-color: #efefef;
		padding: 65px 0;

        // Below 34em (544px)
        @include media("<sm") {
            font-size: 28px;
        }

        span {
            display: inline-block;
            background: linear-gradient(90deg, #ae90d6 10.7%, #b88dd5 13.9%, #bf8ad2 13.9%, #d087bc 15.9%, #d586b6 17.1%, #de83af 17.1%, #e381aa 20.3%, #e57fa4 20.3%, #eb809e 23.5%, #ec7e99 23.5%, #f27e91 26.2%, #f47f85 29%, #f8857e 32.2%, #f7927e 34.2%, #f6967e, #f6967e 35%, #f89a80 35%, #f8b088, #f5c78c, #f4d18d 42.2%, #f5d089 43.4%, #f2cf7d 45.8%, #f0d177 45.8%, #eed16b 48.6%, #f0d06b 49.8%, #eed883 54.9%, #f2d88b 56.1%, #f0d88e 56.9%, #ecd994 56.9%, #ddda97 58.1%, #ddda97 58.5%, #cfdd9f 58.5%, #88e3aa 60.9%, #62e5b1 62.5%, #54e1be 64.5%, #51e1be 65.3%, #56ccce 70.9%, #53c8d1 72.1%, #55bfd9 74.1%, #5aabea 77.6%, #5ba9eb 78.8%, #67a3eb 80.8%, #6ca2e8);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
            @include heading-font(52px);
            color: rgb(122, 128, 130);
            font-weight: bold;
            line-height: 0.9;
            text-transform: capitalize;
            margin: 0;
            cursor: pointer;

            // Below 34em (544px)
            @include media("<sm") {
                font-size: 30px;
            }

            img {
                max-height: 34px;
            }
        }
	}
}


#one-more-thing {
    margin-top: 100px;

	h1 {
		@include heading-font(47px);
		color: rgb(122, 128, 130);
		font-weight: bold;
		line-height: 1;
		text-align: center;
		background-color: #efefef;
		padding: 65px 0 65px 0;
        margin: 0;

        // Below 34em (544px)
        @include media("<sm") {
            font-size: 30px;
            padding: 40px 0;
        }
	}
	.title {
		h1 {
			background-color: transparent;
		}
		span {
			@include primary-font (26px);
			text-align: center;
	    	display: block;
	    	color: #878d8f;
		}

        .btn {
            display: block;
            font-size: 26px;
            font-family: "Play";
            color: rgb(122, 128, 130);
            line-height: 1.1;
            text-align: center;
            max-width: 365px;
            margin: 0 auto;
            margin-top: 50px;
            border: 2px solid #7a8082;
            border-radius: 0;
        }
	}
	
	.create-shop-bg {
		background: url(../img/create-shop.jpg) no-repeat center center;
	  	background-size: cover;
		height: 380px;
		margin: 0 auto;
        margin-bottom: 150px;
	}
}

