.modal-header {
	border-bottom: 0;

	button {
		position: absolute;
    	right: 1%;
    	top: 0.5%;
	}
}
.modal-title {
	@include heading-font(52.317px);
	margin: 50px auto 30px auto;
	color: rgb(122, 128, 130);
    font-weight: bold;
    line-height: 0.9;
}
.modal-body {
	padding: 0;

	p {
		@include primary-font(22.671px);
		color: rgb(129, 146, 151);
  		line-height: 1.385;
  		text-align: center;
	}
}
.modal-dialog {
	max-width: 97%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
}

.modal-content {
	height: auto;
	min-height: 100%;
	border-radius: 0;

    .explore-item-modal {
		text-align: center;

		img {
			padding: 85px 0 28px 0;
		}

		h3 {
			@include primary-font(25px);
			color: rgb(142, 162, 168);
  			line-height: 1;
  			margin: 0;
		}
	}
}

#business-modal-slider,
#non-business-modal-slider {
	h1 {
		@include heading-font(47px);
		color: rgb(122, 128, 130);
		font-weight: bold;
		line-height: 1;
		text-align: center;
		background-color: #efefef;
		padding: 65px 0;
	}
}

#one-more-thing {
	h1 {
		@include heading-font(47px);
		color: rgb(122, 128, 130);
		font-weight: bold;
		line-height: 1;
		text-align: center;
		background-color: #efefef;
		padding: 65px 0;
	}
	.title {
		h1 {
			background-color: transparent;
		}
		span {
			@include primary-font (26px);
			text-align: center;
	    	display: block;
	    	color: #878d8f;
		}
	}
	
	.create-shop-bg {
		background: url(../img/create-shop.jpg) no-repeat center center;
	  	background-size: cover;
		height: 380px;
		width: 100%;
		margin: 50px 0;
	}
}



// 3D slider
$time: 500ms;
$delay: $time/2;
$mode: cubic-bezier(.17, .67, .55, 1.43);
@keyframes heartbeat {
  0% {
    transform: scale(0)
  }
  25% {
    transform: scale(1.2)
  }
  50% {
    transform: scale(1)
  }
  75% {
    transform: scale(1.2)
  }
  100% {
    transform: scale(1)
  }
}
/*body {
  color: #FFFFFF;
  background-color: #27292d;
  overflow: hidden;
}*/
.slider-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 800px;
  height: 600px;
  margin: -300px 0 0 -400px;  
  .slider-content {
    position: relative;
    left: 50%;
    top: 50%;
    width: 70%;
    height: 60%;
    transform: translate(-50%, -50%);
    .slider-single {
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: z-index 0ms $delay;
      .slider-single-image {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, .2);
        transition: $time $mode;
        transform: scale(0);
        opacity: 0;
      }
      .slider-single-download {
        position: absolute;
        display: block;
        right: -22px;
        bottom: 12px;
        padding: 15px;
        color: #333333;
        background-color: #fdc84b;
        font-size: 18px;
        font-weight: 600;
        font-family: 'karla';
        border-radius: 5px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, .3);
        transition: $time $mode;
        opacity: 0;
        &:hover,
        &:focus {
          outline: none;
          text-decoration: none;
        }
      }
      .slider-single-title {
        display: block;
        float: left;
        margin: 16px 0 0 20px;
        font-size: 20px;
        font-family: 'karla';
        font-weight: 400;
        color: #ffffff;
        transition: $time $mode;
        opacity: 0;
      }
      .slider-single-likes {
        display: block;
        float: right;
        margin: 16px 20px 0 0;
        transition: $time $mode;
        opacity: 0;
        i {
          font-size: 20px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
          color: #ff6060;
          transition: $time $mode;
          transform: scale(0);
        }
        p {
          display: inline-block;
          vertical-align: middle;
          margin: 0;
          color: #ffffff;
        }
        &:hover,
        &:focus {
          outline: none;
          text-decoration: none;
        }
      }
      &.preactivede {
        //z-index: 0;
        .slider-single-image {
          //opacity: 0;
          transform: translateX(-50%) scale(0);
        }
      }
      &.preactive {
        z-index: 1;
        .slider-single-image {
          opacity: .3;
          transform: translateX(-25%) scale(.8);
        }
        .slider-single-download {
          transform: translateX(-150px);
        }
        .slider-single-title {
          transform: translateX(-150px);
        }
        .slider-single-likes {
          transform: translateX(-150px);
        }
      }
      &.proactive {
        z-index: 1;
        .slider-single-image {
          opacity: .3;
          transform: translateX(25%) scale(.8);
        }
        .slider-single-download {
          transform: translateX(150px);
        }
        .slider-single-title {
          transform: translateX(150px);
        }
        .slider-single-likes {
          transform: translateX(150px);
        }
      }
      &.proactivede {
        //z-index: 0;
        .slider-single-image {
          //opacity: 0;
          transform: translateX(50%) scale(0);
        }
      }
      &.active {
        z-index: 2;
        .slider-single-image {
          opacity: 1;
          transform: translateX(0%) scale(1);
        }
        .slider-single-download {
          opacity: 1;
          transition-delay: 100ms;
          transform: translateX(0px);
        }
        .slider-single-title {
          opacity: 1;
          transition-delay: 200ms;
          transform: translateX(0px);
        }
        .slider-single-likes {
          opacity: 1;
          transition-delay: 300ms;
          transform: translateX(0px);
          i {
            animation-name: heartbeat;
            animation-duration: 500ms;
            animation-delay: 900ms;
            animation-interation: 1;
            animation-fill-mode: forwards;
          }
        }
      }
    }
  }
  .slider-left {
    position: absolute;
    z-index: 3;
    display: block;
    right: 85%;
    top: 50%;
    color: #ffffff;
    transform: translateY(-50%);
    padding: 20px 15px;
    border-top: 2px solid #fdc84b;
    border-right: 2px solid #fdc84b;
    border-bottom: 2px solid #fdc84b;
    border-left: 2px solid #fdc84b;
    margin-right: -2px;
  }
  .slider-right {
    position: absolute;
    z-index: 3;
    display: block;
    left: 85%;
    top: 50%;
    color: #ffffff;
    transform: translateY(-50%);
    padding: 20px 15px;
    border-top: 2px solid #fdc84b;
    border-right: 2px solid #fdc84b;
    border-bottom: 2px solid #fdc84b;
    border-left: 2px solid #fdc84b;
    margin-left: -2px;
  }
}