.slider-content {
	margin-bottom: 325px;

	h3 {
		font-size: 20.206px;
		font-family: "Play";
		color: rgb(255, 255, 255);
		line-height: 1;
		margin: 0;
		text-align: center;
		text-shadow: 1px 1.732px 0px rgba(0, 0, 0, 0.3);

		// Below 34em (544px)
		@include media("<sm") {
			
		}
	}
	h1 {
		font-size: 42px;
		font-family: "Play";
		text-transform: capitalize;
		color: rgb(255, 255, 255);
		line-height: 2;
		margin: 0;
		margin-bottom: 40px;
		text-align: center;
		text-shadow: 1px 1.732px 0px rgba(0, 0, 0, 0.3);

		// Below 34em (544px)
		@include media("<sm") {
			font-size: 30px;
			line-height: 1;
		}
	}
}

// Search
.search-bar {
	display: flex;
	border: 4px solid rgba(235,235,235, 0.2);
	border-radius: 3px;

	.list-icon {
		border-right: 1px solid rgb(235, 235, 235);
		background-color: #fff;

		.fa-list-ul {
			padding: 13px 20px;
			color: #9d9d9d;
			font-size: 22px;
		}
	}

	select.form-control {
	    border: 0;
	}

	.form-control {
		border: 0;
		border-radius: 0;
		height: 50px !important;
	}

	button {
		width: 92px;
		border-radius: 0;
		background-color: #dadada;
		border-left: 1px solid #dedede;

		.fa-search {
			color: #afafaf;
			font-size: 22px;
		}
	}
}
.ddTitle.borderRadiusTp {
    background: none;
}
.ddTitleText .ddlabel {
	display: none;
}
.dd .ddTitle .ddTitleText {
    padding: 17px 20px 5px 5px;
}
.dd .arrow {
    margin-top: -3px;
}
.select2-container--default .select2-selection--single {
	border-radius: 0;
	height: 55px;
	border: 0;
	border-right: 1px solid #dedede;
}
.dd .divider {
	border: 0;
}
.dd {
    background: #fff;
    border: 0;
    border-radius: 0;
}
div#countries_child {
    top: 100% !important;
    left: -75%;
    width: 200px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 53px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 15px;
}

.down-arrow {
	position: absolute;
    bottom: -335px;
    width: 100%;
    text-align: center;

    a {
    	padding: 310px;
	    border: 2px solid #fff;
	    border-radius: 50%;
	    color: #fff;

	    i {
	    	top: -255px;
    		position: relative;
	    }

	    // Below 34em (544px)
		@include media("<sm") {
			padding: 168px;
		}
    }
}



video { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1
}
div#fashion {
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* 27 inch iMac ----------- */
@media only screen and (min-width : 2400px) {
	.search-bar-scrolling {
	    position: fixed;
	    top: 1%;
	    left: 38%;
	    width: 670px;
	}
	.down-arrow {
		position: absolute;
	    bottom: -725px;
	    width: 100%;
	    text-align: center;

	    a {
		    i {
		    	top: -250px;
	    		position: relative;
		    }
	    }
	}
}



