#user-type {
	padding: 100px 0;

	.title {
		h1 {
			@include heading-font(34px);
			color: rgb(122, 128, 130);
			font-weight: bold;
			line-height: 0.708;
			text-align: center;
			margin: 0;
			margin-bottom: 100px;

			// Below 34em (544px)
			@include media("<sm") {
				font-size: 30px;
			    line-height: 1;
			}
		}
	}

	.contents {
		
		img {
			/*height: calc(100vh - 200px);*/
    		margin: 0 auto;
    		display: block;
    		max-width: 1000px;
    		max-height: 550px;

    		// Below 48em (768px)
			@include media("<md") {
			 	max-width: 635px;
			}
			// Below 34em (544px)
			@include media("<sm") {
				max-width: 370px;
			}
		}
		

		.business-btn,
		.non-business-btn {
			@include primary-font(28px);
			color: rgb(122, 128, 130);
  			font-weight: bold;
  			line-height: 0.85;

  			// Below 34em (544px)
			@include media("<sm") {
				font-size: 20px;
				line-height: 1;
			}
		}

		.business-btn {
			margin-left: 205px;

			// Below 34em (544px)
			@include media("<sm") {
				margin-left: 0;
			}

			// Between 48em (768px) and 62em (992px)
			@include media(">md", "<lg") {
				margin-left: 60px;
			}
		}
		.non-business-btn {
			float: right;
    		margin-right: 150px;

    		// Below 34em (544px)
			@include media("<sm") {
				margin-right: 0;
			}
		}
	}
}

@media only screen and (device-width: 768px) {
	.business-btn {
		margin-left: 60px !important;
	}
	.non-business-btn {
		margin-right: 50px !important;
	}
}